<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Tes HTML</title>
	<link rel="stylesheet" href="../../../../asset/bootstrap-4/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../../asset/User/css/main.css">
	<link rel="stylesheet" href="../../../../asset/User/css/style.css">
</head>

<body>
	<section class="blog-wrapper sect-pt4" id="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="post-box">

						<div class="post-thumb">
							<img src="../../../../asset/User/img/materi/CI/create_database.png" class="img-fluid"
								alt="">
						</div>
						<div class="post-meta">
							<h1 class="article-title">#1. Installasi Code Igniter 3 </h1>
							<ul>
								<li>
									<span class="ion-ios-person"></span>
									<a href="#">Bayu Wardana</a>
								</li>
								<li>
									<span class="ion-pricetag"></span>
									<a href="#"> Freamwork Web Code Igniter 3 </a>
								</li>
								<li>
									<span class="ion-chatbox"></span>
									<a href="#comment"></a>
								</li>
							</ul>
						</div>
						<div class="article-content text-justify">
							<h4>Pengertian Code Igniter</h4>
							<p>
								Code Igniter adalah sebuah Freamwork Web yang digunakan untuk membangun sebuah website
								yang interaktif agar developer dapat dengan membuatnya.
							</p>
							<p>
								Didalam Freamwork Code Igniter ini terdapat fitur yang bisa digunakan developer agar
								dengan mudah membuat sebuah website yaitu :
								<ol>
									<li>
										MVC
									</li>
									<li>
										Form Validation
									</li>
									<li>
										Session
									</li>
									<li>
										Pagination
									</li>
									<li>
										Dan lain lain
									</li>
								</ol>
								Jika ingin melihat fitur-fitur secara lengkap lihat pada <a
									href="../../../../user_guide/index.html">documentasi</a> Code Igniter berikut
							</p>
							<p>
								Didalam tutorial ini ada yang perlu di pelajari untuk menggunakan Code Igniter dengan
								memepelajari sebuah bahasa pemrograman dasar yaitu.
								<ol>
									<li>
										HTML<span class="ion-social-html5 "></span>
									</li>
									<li>
										CSS atau Bootstrap
										<span class="ion-social-css3"></span>
									</li>
									<li>
										PHP <span class="fab fa-php"></span>
									</li>

								</ol>
							</p>

						</div>

					</div>
				</div>
			</div>
		</div>
	</section>


	<script src="../../../../asset/bootstrap-4/js/jquery-3.3.1.js"></script>
	<script src="../../../../asset/bootstrap-4/js/bootstrap.min.js"></script>
	<script src="../../../../asset/User/contactform/contactform.js"></script>
	<script src="../../../../asset/User/js/main.js"></script>
</body>

</html>
